/* Menu de navegacion lateral */
.sidenav {
     background-color: #236494; /* Fondo*/
     height: 100%; /* Toda la pantalla vertical */
     left: 0;
     overflow-x: hidden; /* Desactiva el scroll */
     padding-top: 60px; /* Distancia de la parte superior */
     position: fixed; /* Quieto en un lugar */
     top: 0;
     width: 170px; /* Ancho de el menu */
     z-index: 1; /* Quieto en la parte superior */
}

/* Links del menu */
.sidenav a {
     color: #FFFFFF;
     font-size: 20px;
     padding: 8px 8px 8px 20px;
     text-decoration: none;
     transition: 0.3s
}

/* Cambiar el color de los links al pasar el mouse por encima */
.sidenav a:hover, .offcanvas a:focus{
   color: #b2b0b0;
}

/* Para pantallas pequenas se cambia el padding */
@media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
}

.topx{
     margin-top: 15%;
}
