/* Menu de navegacion lateral */
.sidenav {
   height: 100%; /* Toda la pantalla vertical */
   width: 170px; /* Ancho de el menu */
   position: fixed; /* Quieto en un lugar */
   z-index: 1; /* Quieto en la parte superior */
   top: 0;
   left: 0;
   background-color: #236494; /* Fondo*/
   overflow-x: hidden; /* Desactiva el scroll */
   padding-top: 60px; /* Distancia de la parte superior */
}

/* Links del menu */
.sidenav a {
   padding: 8px 8px 8px 20px;
   text-decoration: none;
   font-size: 20px;
   color: #FFFFFF;
   transition: 0.3s
}

/* Cambiar el color de los links al pasar el mouse por encima */
.sidenav a:hover, .offcanvas a:focus{
   color: #b2b0b0;
}

/* Para pantallas pequenas se cambia el padding */
@media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
}

h1.oculto{
     display: none;
}
